  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" /></div>

  <div class="field">
    <label for="office_title">Title</label><br />
    <input id="office_title" name="office[title]" size="30" type="text" value="<%= @office.title %>"/>
  </div>
  <div class="field">
    <label for="office_description">Description</label><br />
    <textarea cols="40" id="office_description" name="office[description]" rows="20" value="<%= @office.description %>">
</textarea>
  </div>
  <div class="field">
    <label>
      Image: <input type="file" name=photos[picture]>
    </label>
  </div>
  <div class="field">
    <label for="office_addr1">Addr1</label><br />
    <input id="office_addr1" name="office[addr1]" size="30" type="text" value="<%= @office.addr1 %>"/>
  </div>
  <div class="field">
    <label for="office_addr2">Addr2</label><br />
    <input id="office_addr2" name="office[addr2]" size="30" type="text" value="<%= @office.addr2 %>"/>
  </div>
  <div class="field">
    <label for="office_city">City</label><br />
    <input id="office_city" name="office[city]" size="30" type="text" value="<%= @office.city %>"/>
  </div>
  <div class="field">
    <label for="office_state">City</label><br />
    <input id="office_state" name="office[state]" size="30" type="text" value="<%= @office.state %>"/>
  </div>
  <div class="field">
    <label for="office_zip">Zip</label><br />
    <input id="office_zip" name="office[zip]" size="30" type="text" value="<%= @office.zip %>"/>
  </div>
  <div class="field">
    <label for="office_size">Size</label><br />
    <input id="office_size" name="office[size]" type="number" value="<%= @office.size %>"/>
  </div>
  <div class="field">
    <label for="office_occupancy">Occupancy</label><br />
    <input id="office_occupancy" name="office[occupancy]" type="number" value="<%= @office.occupancy %>"/>
  </div>
  <div class="field">
    <label for="office_price">Price</label><br />
    <input id="office_price" name="office[price]" type="number" value="<%= @office.price %>"/>
  </div>
  <div class="field">
    <label for="office_arrangement">Arrangement</label><br />
    <input id="office_arrangement" name="office[arrangement]" size="30" type="text" value="<%= @office.arrangement %>"/>
  </div>
  <div>
    <p>Features</p>
      <input type="hidden" name="features[]"></input>
      <div class="featureBox group">
        <% @features.each do |feat| %>
        <div class="featureCheck">
          <label>
            <input type="checkbox" name="features[]" id="<%= feat.feature_name %>" value="<%=feat.id %>" <%= "checked" if @current_features.include? feat.id %>><%= feat.feature_name %> </input>
          </label>
        </div>
        <% end %>
      </div>
  </div>




  <% @availabilities.each_with_index do |a, aindex| %>
  <h3>Availability <%= aindex+1 %></h3>
    <% if a.id != nil %>
      <input type="hidden" name="availabilities[<%= aindex %>][id]" value="<%= a.id %>" >
    <% end %>
    <div class="field">
      <label for="availability_start_date">Start date</label><br />
      <input type="date" name="availabilities[<%= aindex %>][start_date]" value="<%= a.start_date %>">

    </div>
    <div class="field">
      <label for="availability_end_date">End date</label><br />
      <input type="date" name="availabilities[<%= aindex %>][end_date]" value="<%= a.end_date %>">
    </div>
  <% end %>
  <p>
    Leave an availability blank and it won't be added.
  </p>
