<p id="notice"><%= notice %></p>
<% if current_user && !Favorite.find_by_user_id_and_office_id(current_user.id, @office.id)%>
  <%= button_to "Track this Listing", {controller: "favorites", action: "create", office_id: @office.id} %>
<% end %>
<p>
  <b>Title:</b>
  <%= @office.title %>
</p>

<p>
  <b>Description:</b>
  <%= @office.description %>
</p>

<p>
  <b>Addr1:</b>
  <%= @office.addr1 %>
</p>

<p>
  <b>Addr2:</b>
  <%= @office.addr2 %>
</p>

<p>
  <b>City:</b>
  <%= @office.city %>
</p>

<p>
  <b>Zip:</b>
  <%= @office.zip %>
</p>

<p>
  <b>Size:</b>
  <%= @office.size %>
</p>

<p>
  <b>Owner:</b>
  <%= @office.owner_id %>
</p>

<p>
  <b>Available:</b>
  <%= @office.available %>
</p>

<p>
  <b>Occupancy:</b>
  <%= @office.occupancy %>
</p>

<p>
  <b>Price:</b>
  <%= @office.price %>
</p>

<p>
  <b>Arrangement:</b>
  <%= @office.arrangement %>
</p>

<b>Features</b>
<div class="featureBox group">

  <% @features.each do |feat| %>
  <div class="featureCheck">
    <div class="delete-button"><%= button_to "",
       Featuring.find_by_office_id_and_feature_id(@office.id, feat.id),
       method: :delete, class: "killFeature",
       data: {confirm: "Are you sure?"} if (current_user.id == @office.owner_id)%>
    </div>

    <label>
      <%= feat.feature_name %>
    </label>
  </div>
  <% end %>

</div>


<% unless @availabilities.nil? %>
  <% @availabilities.each_with_index do |availability, ai| %>
    <p>
      <b>Availability <%= ai+1 %>:</b>
      <%= availability.start_date %> to <%= availability.end_date %> <%= link_to "Delete!", availability, method: :delete, data: {confirm: "Are you sure?"} if (current_user.id == @office.owner_id) %>
    </p>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>
