<!DOCTYPE html>
<html>
<head>
  <title>Wanderdesk</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li>
        <%= (button_to "Log Out", session_url, method: :delete) if current_user %>
      </li>
      <% if logged_in? %>
      <li>
        <%= link_to "Listings", offices_url %>
      </li>
      <li>
        <%= link_to "Create Listing", new_office_url, method: :post %>
      </li>
      <% end %>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
